@media (min-width: 820px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* .sectionclass {
    width: auto;
    display: grid;
    width: 100%;
    overflow: auto;
  } */

  .logo {
    max-width: 85px;
    margin-left: 27%;
  }

  .hero {
    grid-column: 2 / span 4;
    max-width: 60%;
    box-shadow: 3px 3px 6px 0 rgb(0 0 0 / 60%);
    border-radius: 5px;
    float: left;
    margin-left: 9%;
  }
  /* .first {
    max-width: 20%;
    background-color: white;
    opacity: 0.8;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 6em 28%;
    margin-bottom: 0;
    position: absolute;
  } */
  /* .fiveDay {
    grid-column: 2/3;
    padding: 1em 0;
    padding-left: 2em;
    text-align: center;
  } */
  /* .fiveDayImg {
    grid-column: 2 / span 3;
    margin-left: 12%;
    margin-right: 8%;
  }
  .fiveDay h4 {
    grid-column: 2/3;
  }
  .forecast1,
  .forecast2,
  .forecast3,
  .forecast4,
  .forecast5 {
    max-width: 130px;
    padding: 1em 1.3em;
  } */
  /* .prestonHeading {
    padding-left: 12%;
  }
  .articleTitle {
    grid-column: 2/3;
    text-align: center;
    padding-left: 0;
  } */
  /* .articleP {
    grid-column: 2 / span 2;
    margin-left: 18%;
    grid-row: 6/7;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  } */
  /* .forecastImg {
    padding: 1em;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    grid-column: 4/5;
    grid-row: 6/7;
    box-shadow: none;
  /* } */
  .contact h5 {
    color: white;
    font-size: large;
  }
}
