@media (min-width: 820px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
  body {
    margin: 2.25rem auto;
    max-width: 60%;
    line-height: 1.5;
    font-size: 18px;
    background-color: #007ac2;
    font-family: 'Open Sans', sans-serif;
  }

  .sectionclass {
    width: auto;
    display: grid;
    width: 100%;
    overflow: auto;
  }
}

img {
  float: left;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  /* lo alineamos al centro */
  align-items: left;

  flex-wrap: wrap;
}

/* logo */
.logo {
  letter-spacing: 5px;
  font-size: 1.3em;
}
