@media only screen and (min-width: 32.5em) {
  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1 1 100%;
  }
  nav li {
    font-size: 20px;
    padding: 10px;
  }

  header,
  footer {
    border-radius: 12px;
  }

  header img {
    float: left;
    position: relative;
    /* box-shadow: -5px 20px 25px; */
    height: 85px;
  }
  .weatherSum {
    margin-bottom: 0;
    padding-left: 10em;
    padding-top: 1em;
    text-align: left;
  }
  .hero {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 6px 6px 0 rgb(0 0 0 / 40%);
  }
  /* .prestonHeading {
    text-shadow: 3px 3px 3px #ccc;
  } */
  .forecast1,
  .forecast2,
  .forecast3,
  .forecast4,
  .forecast5 {
    max-width: 150px;
    padding: 1em 1.3em;
  }
  .fiveDay {
    text-shadow: 3px 3px 3px #ccc;
    text-align: left;
    margin-left: 1em;
  }
  .fiveDayImg {
    border: 2px solid black;
    margin: 0;
    box-shadow: 0px 6px 6px 0 rgb(0 0 0 / 30%);
    /* background-color: #73956f; */
  }
  /* .articleTitle {
    text-align: left;
    padding-top: 1em;
    padding-left: 1em;
    text-shadow: 3px 3px 3px #ccc;
  } */
  /* .articleP {
    display: inline-flex;
    margin-left: 1em;
  } */
  /* .forecastImg {
    box-shadow: 0px 6px 6px 0 rgb(0 0 0 / 30%);
  } */
  /* .contact {
    background-color: #73956f;
    border: 2px solid black;
    margin: 3em;
    padding-bottom: 1em;
  } */
  /* .phoneP,
  .emailP {
    margin-left: 38%;
    color: white;
  }
  .phone,
  .email {
    margin-left: 35%;
    box-shadow: 0px 3px 3px 0 rgb(0 0 0 / 30%);
  }
  .prestonMap {
    border: 2px solid black;
    box-shadow: 0px 2px 2px 3px rgb(0 0 0 / 30%);
  } */
}

main {
  min-width: 32.5em;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 3px 3px 5px #777;
}

.herodiv {
  margin: 10px auto;
  position: relative;
}
h1,
h2,
p {
  margin: 0;
}

.stats {
  position: absolute;
  top: 25px;
  right: 380px;
  background: radial-gradient(#eee, #4567aa);
  border: 1px solid #000;
  padding: 1.5rem;
  box-shadow: 0 0 30px #333;
  opacity: 0.9;
  margin-left: 10px;
}
